matplotlib==3.7.1
ansys-fluent-core>=0.16.0
ansys-mapdl-core>=0.64.0
Sphinx==5.3.0
Sphinx-copybutton==0.5.1
numpydoc==1.5.0
ansys_sphinx_theme>=0.9.5
sphinx_gallery==0.12.2
jupyter_sphinx==0.4.0
sphinx-notfound-page==0.8.3
sphinx_autodoc_typehints==1.23.4
sphinxemoji==0.2.0
ansys-fluent-visualization>=0.7.1
ansys-dpf-core>=0.9.0
