name: CI
on:
  pull_request:
  workflow_dispatch:
  push:
    tags:
      - "*"
    branches:
      - main

permissions:
  contents: read   # default for all jobs unless overridden

env:
  MAIN_PYTHON_VERSION: "3.13"
  DOCUMENTATION_CNAME: 'twin.docs.pyansys.com'
  LIBRARY_NAME: 'pytwin'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  

jobs:

  tests:
    name: Test library
    runs-on: ${{ matrix.os }}
    strategy:
       matrix:
           os: [windows-latest, ubuntu-22.04]
           python-version: ["3.13"]
    steps:
      - name: Install Ubuntu dependencies for RomViewerSharedLib.so
        if: matrix.os == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install libosmesa6

      - name: Setup headless display
        if: matrix.os == 'windows-latest'
        uses: pyvista/setup-headless-display-action@7d84ae825e6d9297a8e99bdbbae20d1b919a0b19 # v4.2

      - name: Install pytest dependencies
        run: pip install pytest-xdist pytest-forked
        
      - name: Run pytest
        uses: ansys/actions/tests-pytest@v10.1
        with:
          optional-dependencies-name: "tests,graphics"
          python-version: ${{ matrix.python-version }}
          pytest-extra-args: "--cov=pytwin --cov-report=term --cov-report=xml:.cov/coverage.xml --cov-report=html:.cov/html -n auto --forked"
        env:
          ANSYSLMD_LICENSE_FILE: 1055@${{ secrets.LICENSE_SERVER }}

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ matrix.python-version }}_${{ matrix.os }}_pytest.html
          path: .cov/html
          retention-days: 7

      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1

