name: CI
on:
  pull_request:
  workflow_dispatch:
  push:
    tags:
      - "*"
    branches:
      - main

permissions:
  contents: read   # default for all jobs unless overridden

env:
  MAIN_PYTHON_VERSION: "3.13"
  DOCUMENTATION_CNAME: 'twin.docs.pyansys.com'
  LIBRARY_NAME: 'pytwin'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  

jobs:

  check-vulnerabilities:
    name: "Check library vulnerabilities"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/check-vulnerabilities@v10.2
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          python-package-name: ${{ env.LIBRARY_NAME }}
          dev-mode: ${{ github.ref != 'refs/heads/main' }}

  actions-security:
    name: "Check actions security"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/check-actions-security@v10.2
        with:
          generate-summary: true
          token: ${{ secrets.GITHUB_TOKEN }}
          auditing-level: 'high'
          trust-ansys-actions: true

  code-style:
    name: "Code style"
    runs-on: ubuntu-latest
  #  needs: check-vulnerabilities
    steps:
      - uses: ansys/actions/code-style@v10.2

  doc-style:
    name: "Documentation style"
    runs-on: ubuntu-latest
  #  needs: check-vulnerabilities
    steps:
      - uses: ansys/actions/doc-style@v10.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  doc-build:
    name: "Build documentation"
    runs-on: pytwin-win10
    needs: doc-style
    steps:
      - name: "Install Git and clone project"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: "Set up Python"
        uses: ansys/actions/_setup-python@v10.2
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          use-cache: false

      - name: "Copy source files for DPF server installation"
        shell: bash
        run: |
          cp -r ~ansys/Documents/devEnv/pyansys/pytwin/ansys_dpf_server_win_v2024.1.pre0/ ./
          
      - name: "Create virtual environment and Install Python library"
        run: |
          python -m venv .venv --clear
          .venv\Scripts\Activate.ps1
          python -m pip install pip -U
          python -m pip install poetry

      - name: "Install documentation dependencies, including DPF server"
        run: |
          .venv\Scripts\Activate.ps1
          poetry install --extras graphics --with doc
          cd ansys_dpf_server_win_v2024.1.pre0
          pip install -e .
          cd ..

      - name: Setup headless display
        uses: pyvista/setup-headless-display-action@7d84ae825e6d9297a8e99bdbbae20d1b919a0b19 # v4.2

      - name: "Clean documentation build folder"
        run: |
          .venv\Scripts\Activate.ps1
          doc/make.bat clean

      - name: "Build HTML documentation"
        run: |
          .venv\Scripts\Activate.ps1
          doc/make.bat html
          if (Select-String -Path "doc/build_errors.txt" -Pattern "Traceback|ERROR|Error|error|Exception") {
            Write-Error "Documentation build failed due to detected errors in doc/build_errors.txt"
            exit 1
          }
        env:
          ANSYS_DPF_ACCEPT_LA: Y

      - name: "Upload HTML documentation artifact"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: documentation-html
          path: doc/_build/html
          retention-days: 7

  build-wheelhouse:
    name: "Build wheelhouse for latest Python versions"
    runs-on: ${{ matrix.os }}
    needs: code-style
    strategy:
       matrix:
           os: [ubuntu-latest, windows-latest]
           python-version: ['3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: ansys/actions/build-wheelhouse@v10.2
        with:
          library-name: ${{ env.LIBRARY_NAME }}
          operating-system: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}

  tests:
    name: Test library
    needs: build-wheelhouse
    runs-on: ${{ matrix.os }}
    strategy:
       matrix:
           os: [windows-latest, ubuntu-22.04]
           python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - name: Install Ubuntu dependencies for RomViewerSharedLib.so
        if: matrix.os == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install libosmesa6

      - name: Setup headless display
        if: matrix.os == 'windows-latest'
        uses: pyvista/setup-headless-display-action@7d84ae825e6d9297a8e99bdbbae20d1b919a0b19 # v4.2

      - name: Run pytest
        uses: ansys/actions/tests-pytest@v10.2
        with:
          optional-dependencies-name: "tests,graphics"
          python-version: ${{ matrix.python-version }}
          pytest-extra-args: "--cov=pytwin --cov-report=term --cov-report=xml:.cov/coverage.xml --cov-report=html:.cov/html"
        env:
          ANSYSLMD_LICENSE_FILE: 1055@${{ secrets.LICENSE_SERVER }}

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ matrix.python-version }}_${{ matrix.os }}_pytest.html
          path: .cov/html
          retention-days: 7

      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2

  build-library:
    name: "Smoke test and building"
    runs-on: ubuntu-latest
    needs: [doc-build, tests]
    steps:
      - uses: ansys/actions/build-library@v10.2
        with:
          library-name: "pytwin"
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

  release-pypi-public:
    name: "Release to public PyPI"
    if: ${{ github.event_name == 'push' && contains(github.ref, 'refs/tags') }}
    needs: build-library
    runs-on: ubuntu-latest
    # INFO: Specifying a GitHub environment is optional but encouraged
    environment: release
    # INFO: Trusted publishers require these permissions
    permissions:
      id-token: write # needed for OIDC token
      contents: write # to download artifacts
    steps:
      - name: "Download the library artifacts from build-library step"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ env.LIBRARY_NAME }}-artifacts
          path: ${{ env.LIBRARY_NAME }}-artifacts

      - name: "Upload artifacts to PyPI using trusted publisher"
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          repository-url: "https://upload.pypi.org/legacy/"
          print-hash: true
          packages-dir: ${{ env.LIBRARY_NAME }}-artifacts
          skip-existing: false

  doc-deploy-dev:
    name: "Deploy developers documentation"
    runs-on: ubuntu-latest
    needs: doc-build
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write   # allow pushing to gh-pages
    steps:
      - uses: ansys/actions/doc-deploy-dev@v10.2
        with:
            cname: ${{ env.DOCUMENTATION_CNAME }}
            token: ${{ secrets.GITHUB_TOKEN }}
            bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
            bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}

  doc-deploy-stable:
    name: "Deploy stable documentation"
    runs-on: ubuntu-latest
    needs: release-pypi-public
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
    permissions:
      contents: write # allow pushing to gh-pages
    steps:
      - name: "Deploy the stable documentation"
        uses: ansys/actions/doc-deploy-stable@v10.2
        with:
            cname: ${{ env.DOCUMENTATION_CNAME }}
            token: ${{ secrets.GITHUB_TOKEN }}
            bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
            bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}

  automerge-prs:
    name: "Automerging dependabot and pre-commit.ci PRs"
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    needs: build-library
    permissions:
      contents: write # to read PR details
      pull-requests: write # to merge PRs
    steps:
      - name: "Automerging PRs"
        uses: ansys/actions/hk-automerge-prs@v10.2
        with:
          approver: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          approver-token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
